doctype html
html(lang="en")
  head
    title My Lawn
body(style='background-size: cover;')
  script(src='http://wallet.mychain.io/lib/jquery/1.11.1/jquery.min.js')
  script.
    window.setInterval(function(){
      $.ajax({
        url: "http://localhost:8080/status",
        success: function(result){
          $('body').css('background-image', 'url("'+result+'")');
        }
      });
    }, 100);